.card-container {
  width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  border: 2px solid rgba(59, 95, 81, 0.534);
}
.card-container:hover {
  box-shadow: 0px 0px 20px 0px;
}
.image-container img {
  overflow: hidden;
  height: 200px;
  object-fit: cover;
}
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}
.card-content h3,
.card-content p {
  text-align: start;

  margin: 0;
  padding: 0px;
}
.card-content p {
  margin-top: 1rem;
  font-size: 13px;
  height: 40px;
}
.icon-card {
  width: 20px;
  height: 20px;
  color: rgba(59, 95, 81, 1);
}
.like {
  width: 24px;
  height: 24px;
  padding-bottom: 5px;
  color: red;
}

.card-title {
  margin-bottom: 0.5 rem;
  color: rgba(239, 99, 40, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.card-title .btn {
  display: flex;
  justify-content: center;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5% !important;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  height: 30px;
  font-weight: 1000;
  font-size: 18px;
}

.btn {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 2px solid rgba(59, 95, 81, 1) !important; */
  padding-top: 1%;
}
.btn button {
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  transition: 0.2s;
  margin: 0 0.8rem;
  border-radius: 3px;
  color: rgba(59, 95, 81, 1);
  font-size: 20px;
}
.btn button:hover {
  background-color: rgba(239, 99, 40, 1);
  color: white;
}
.view {
  background-color: transparent !important;
  font-size: 14px !important;
  align-self: center !important;
  color: rgba(59, 95, 81, 1);
}

.btn a:hover {
  color: rgba(239, 99, 40, 1);
  text-decoration: none;
}
.btn a {
  text-transform: uppercase;
  color: rgba(59, 95, 81, 1);

  font-weight: bolder;
}
.card-content h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-card-img {
  width: 100%;
  object-fit: cover;
}
/***********************************/
.sss {
  display: flex;
  justify-content: center !important;
}
